body{
    background-color: #663399;
}

.navbar{
  overflow: hidden;
  position: fixed; 
  background-color: rgb(232, 232, 232);
  top: 0;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  z-index: 9999;
}

h1{
  font-family: 'Bitter', serif;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;  
}
  
.destaque{
  background-color: #242424;
  color: #ffffff;
  margin: 2px;
}
  
.destaquecor{
  color: #ffdd40;
}

p{
  font-family: 'Bitter', serif;
  font-size: 25px;
  font-weight:normal;
  text-align: justify;
  padding: 10%;
  color: #ffffff;
}